.closeButton {
	position: absolute;
	top: 40px;
	right: 40px;
	background: none;
	border: none;
	cursor: pointer;
}

.iClose {
	fill: none;
	stroke: var(--main-text-color);
}

.iClose:hover {
	stroke: var(--accent-hover-color);
}
