.swiper_container {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 24px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	text-align: center;
	width: 100%;
}

.wrapper img {
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.swiper_buttons_container {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
}

.swiper_button_prev,
.swiper_button_next {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
}

.swiper_button_prev:hover,
.swiper_button_next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Ліва стрілка */
.swiper_button_prev {
	left: -100px;
}

/* Права стрілка */
.swiper_button_next {
	right: -100px;
}

.icon {
	stroke: var(--main-text-color);
	fill: none;
}
