@media (min-width: 320px) {
	.container {
		width: 380px;
		margin: 0 auto;
		padding: 90px 15px 0px 15px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 768px;
	}
}

@media (min-width: 1440px) {
	.container {
		width: 1440px;
		height: 100vh;
		padding: var(--header-height) 64px 0px 64px;
	}
}

.container {
	margin: 0 auto;
}
