.sidebar {
	position: fixed;
	top: 0;
	left: -350px; /* Сховане положення */
	width: 350px;
	height: 100vh;
	background-color: white; /* Змінити на потрібний фон */
	transition: left 0.3s ease; /* Анімація при відкритті/закритті */
	z-index: 1000; /* Щоб сайдбар був поверх інших елементів */
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar.open {
	left: 0; /* Показує сайдбар */
}

.logo {
	margin-top: 40px;
	margin-bottom: 20px;
}
