:root {
	--font-family: 'Inter', sans-serif;
	--font-weight: 400;
	--font-size-base: 14px;
	--main-text-color: black;
	--second-text-color: gray;
	--accent-color: orange;
	--main-background-color: white;

	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
