.tab_container {
	display: flex;
	gap: 40px;
	margin-top: 44px;
	border-bottom: 2px solid rgba(16, 24, 40, 0.2);
}

.tabs {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	cursor: pointer;
	transition: color var(--transition);
	color: var(--main-text-color);
	border-bottom: 2px solid transparent;
	padding-bottom: 24px;
}

.tabs:hover {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--accent-hover-color);
}

.activeTab {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* color: var(--accent-color); */
	cursor: pointer;
	padding-bottom: 24px;
	margin-bottom: -2px;
	border-bottom: 3px solid var(--accent-color);
}

.activeContainer {
	display: block;
}

.hidden {
	display: none;
}

.camperTitle {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: 902px;
	height: 310px;
	margin-top: 24px;
}

.galleryItem {
	flex: 1 1 auto;
	width: 290px;
	height: 310px;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgItem {
	width: 100%;
	height: 150%;
	border-radius: 8px;
	object-fit: cover;
}

.price {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	margin-top: 16px;
}

.description {
	margin-top: 24px;
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 24px;
}

.content {
	max-height: 720px; /* Пример высоты, можно изменить */
	overflow-y: auto; /* Скролл по вертикали */
	margin-right: -16px;
	padding-right: 8px;
	overflow-x: hidden;
}

/* Стили для скроллбара внутри модалки */
.content::-webkit-scrollbar {
	width: 8px;
}

.content::-webkit-scrollbar-thumb {
	background-color: #d9d9d9; /* Цвет бегунка */
	border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
	background-color: var(
		--scrollbar-thumb-hover-color
	); /* Цвет бегунка при наведении */
}

.content::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color); /* Цвет трека */
	border-radius: 10px;
}
