.features {
	display: flex;
	flex-flow: wrap;
	gap: 8px;
}

.featureItem {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	padding: 12px 18px;
	height: 44px;
	background-color: rgb(242, 244, 247);
	transition: color var(--transition);
	text-transform: capitalize;
}

.icon {
	stroke: var(--main-text-color);
	fill: none;
	transition: stroke var(--transition);
}

.adultsIcon,
.petrol,
.gas,
.toilet {
	fill: var(--main-text-color);
	stroke: none;
	transition: fill var(--transition);
}

.label {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: var(--main-text-color);
	transition: color var(--transition);
}

.featureItem:hover .icon {
	stroke: var(--accent-color);
}

.featureItem:hover .adultsIcon,
.featureItem:hover .petrol,
.featureItem:hover .gas,
.featureItem:hover .toilet {
	fill: var(--accent-color);
}

.featureItem:hover .label {
	color: var(--accent-color);
}
