.camperCard {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(var(--border-color), 0.2);
	border-radius: 20px;
	overflow: hidden;
	background-color: var(--white);
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.camperContent {
	display: flex;
	padding: 24px;
}

.camperImg {
	width: 290px;
	height: 310px;
	border-radius: 10px;
	object-fit: cover;
}

.camperDetails {
	width: 526px;
	margin-left: 24px;
	flex-grow: 1;
	flex-direction: column;
}

.camperHeader {
	display: flex;
	justify-content: space-between;
}

.camperTitle {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}

.header_left {
	display: flex;
	gap: 11px;
	justify-content: center;
	align-items: center;
}

.i_heart {
	fill: none;
	stroke: var(--main-text-color);
}

.i_heart:hover,
.i_heart:focus {
	fill: var(--accent-color);
	stroke: var(--accent-color);
}

.heartIsActive {
	fill: var(--accent-color);
	stroke: var(--accent-color);
}

.price {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}

.features {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 16px 0;
	margin-top: 24px;
}

.description {
	margin-top: 24px;
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 24px;
}

.showAllButton {
	margin-top: 24px;
}
