.camperCard {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(var(--border-color), 0.2);
	border-radius: 20px;
	overflow: hidden;
	background-color: var(--main-background-color);
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.camperContent {
	display: flex;
	padding: 24px;
}

.camperImg {
	width: 290px;
	height: auto;
	border-radius: 10px;
	object-fit: cover;
}

.camperDetails {
	margin-left: 24px;
	flex-grow: 1;
	flex-direction: column;
}

.camperHeader {
	display: flex;
}

.camperTitle {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}

.price {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}

.rating {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	color: #777;
}

.features {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 16px 0;
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
}

/* .gallery {
	display: flex;
	gap: 10px;
} */

/* .gallery img {
	width: 80px;
	height: auto;
} */
