.locationFilter {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}

.locationFilter label {
	display: block;
	font-size: 16px;
	font-weight: 500px;
	line-height: 24px;
	color: var(--main-text-color);
	opacity: 0.6;
	margin-bottom: 8px;
}

.locationInput {
	width: 100%;
	padding: 18px 18px;
	border: 2px solid transparent;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	background-color: var(--input-color);
	color: var(--main-text-color);
	transition: border-color var(--transition);
	padding-left: 44px;
}

.locationInput:focus {
	border-color: var(--focus-border-color);
	outline: none;
}

.locationIcon {
	position: absolute;
	left: 18px;
	top: 66%;
	transform: translateY(-50%);
	fill: none;
	stroke: var(--main-text-color);
	margin-right: 4px;
}

.locationList {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.locationItem {
	padding: 10px 12px;
	cursor: pointer;
	font-size: 16px;
	color: #333;
}

.locationItem:hover {
	background-color: #f0f0f0;
}

.locationItem:active {
	background-color: #e0e0e0;
}
