.filters {
	width: 360px;
	background-color: #fff;
}

.filter__list {
	margin-top: 32px;
}

.list__title {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: var(--second-text-color);
}

.item__filter {
	margin-top: 14px;
	width: 100%;
}

.item__filter_vehicle {
	margin-top: 32px;
}

.item__title {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.separator {
	border-bottom: 1px solid var(--main-text-color);
	opacity: 0.2;
	margin: 24px 0;
	width: 100%;
}

.searchBtn {
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 64px;
}

.equipmentFilter {
	width: 100%;
}
