.title {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 2em;
	letter-spacing: 0.06em;
	text-rendering: optimizeLegibility;
}

.description {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 2em;
	letter-spacing: 0.06em;
	text-rendering: optimizeLegibility;
}

.link {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 2em;
	letter-spacing: 0.06em;
	text-rendering: optimizeLegibility;
	text-decoration: none;
	color: var(--accent-color);
}

.link:hover {
	color: var(--accent-hover-color);
}

.swiper-container {
	width: 100%; /* Займає всю ширину екрану */
	height: auto;
	position: relative;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	background: #eee;
	color: black;
	height: 300px; /* Висота слайду, можеш змінити під свої потреби */
	text-align: center;
	width: 100%; /* Обов'язково задаємо ширину слайду */
}

.swiper-button-prev,
.swiper-button-next {
	width: 44px;
	height: 44px;
	color: black;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.swiper-button-prev {
	left: 10px;
}

.swiper-button-next {
	right: 10px;
}
