.btn {
	border-radius: 200px;
	background-color: var(--accent-color);
	border: none;
	outline: transparent;
	padding: 16px 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.08px;
	color: var(--white);

	transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
	background-color: var(--accent-hover-color);
}
